<div class="main users-index">
  <div class="form-search">
  <div class="form2 users-form2">
    <div class="form-body2">
      <%= form_tag("/users/search") do %>
        <p style="color:black;font-size:14px;margin:0;text-align:center">学校名</p>
        <input name="name" value="">
        <input type="submit" value="検索">
      <% end %>
    </div>
  </div>
  </div>
  <div clas="user">
  <div class="container">
    <div class="form-heading">学校一覧</div>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="user-right22">
          <div class="post-user-name-users">
          <p><%= link_to(user.name, "/users/#{user.id}") %></p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
