<div class="main users-edit">
  <div class="container">
    <div class="form-heading">コース編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @course.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <!-- form_tagメソッドに「multipart: true」を追加してください -->
        <%= form_tag("/courses/#{@course.id}/update", {multipart: true}) do %>
          <p>コース名</p>
          <input name="name" value="<%= @course.name %>">
          <p>画像</p>
          <!-- 画像用のフォームを追加してください -->
          <input name="image" type="file">
          <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>
